<p>
  <b>Authorizable:</b>
  <%=h @permission.authorizable_id %>
</p>

<p>
  <b>Authorizable type:</b>
  <%=h @permission.authorizable_type %>
</p>

<p>
  <b>God:</b>
  <%=h @permission.god %>
</p>


<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>