<h1>Listing roles</h1>

<table cellpadding="5%">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>R</th>
    <th>U</th>
    <th>D</th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td align="center"><%=h role.name %></td>
    <td align="center"><%=h role.description %></td>
    <td align="center"><%= link_to 'Show', role %></td>
    <td align="center"><%= link_to 'Edit', edit_role_path(role) %></td>
    <td align="center"><%= link_to 'Destroy', role, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New role', new_role_path %>